:root {
    font-family: sans-serif;
}

* {
    /* outline: 1px solid red; */
}

html {
    margin: 0;
}

body {
    background-color: #121212;
    color: white;
}

.title {
    color: #1ED760;
    font-size: 2.5rem;
}

img {
    width: 150px;
}

.info-section > h2 {
    font-size: 1.8rem;
}

.info-section > p, li {
    color: #B3b3b3;
}

.info-section ul {
    list-style: disc;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header > img {
    width: 150px;
    height: 50px;
}

.info-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 1rem;
}

.result-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #1ED760;
    color: black;
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 10rem;
}

.result-container {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.result-btn {
    all: unset;
    cursor: pointer;
    padding: .5rem;
    background-color: black;
    color:#1ED760;
    border-radius: 1rem;

}

footer {
    position: fixed;
    bottom: 0%;
    width: 100vw;
    margin-left: -8px;
    background-color: rgb(33, 33, 33);
    display: flex;
    justify-content: center;
}

footer > ul {
    display: flex;
    justify-content: space-around;
    /* margin: auto; */
    flex-grow: 1;
    padding: 1rem;

}

footer > ul > li {
    padding: 2rem;
    all: unset;
}

footer > ul > li > a{
    all: unset;
    cursor: pointer;
    padding: .5rem;
    border-radius: .5rem;
    transition: all .5s;
}

footer > ul > li> a:hover{
    background-color: white;
    color: black;
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}